.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  width: 100%;
}

.title {
  font-size: 18px;
  text-transform: uppercase;
}

.questionsContainer {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.inputName {
  border: none;
  border-bottom: 1px solid #000;
  padding: 5px 0; 
  outline: none; 
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}


.input {
  height: 16px;
  width: 20px;
  border-color: #000;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  margin-right: 10px;
}

.radioWrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 20px;
}

.checkboxWrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 20px;
}

.label {
  text-align: start;
  margin-bottom: 10px;
}

.button {
  padding: 0px 15px;
  display: block;
  width: 160px;
  font-weight: 400;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 0px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  background-color: transparent;
  transition: 0.3s ease all;
  margin-bottom: 60px;
}

.button:hover {
  background-color: #000;
  color: white;
}

.privacyPolicy {
  margin-bottom: 100px;
  font-size: 12px;
  color: #000;
}

.privacyPolicy.privacyPolicyLinks {
  color: #000;
}

.elementAnimation {
  opacity: 0;
  transform: translateY(60px);
}

.elementShow {
  opacity: 1;
  transition: all 0.7s;
  transform: translateY(0%);
}

.completedWrap {
  margin: 20px 0px 60px;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 520px) {
  .subTitle {
    font-size: 16px;
  }
}