.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  gap: 20px;
  text-align: center;
}

img {
  border-radius: 8px;
}

.title {
  font-size: 18px;
  text-transform: uppercase;
}

.link {
  color: black;
  margin-bottom: 60px;
}

.elementAnimation {
  opacity: 0;
  transform: translateY(60px);
}

.elementShow {
  opacity: 1;
  transition: all 0.7s;
  transform: translateY(0%);
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 520px) {
  .location {
    font-size: 16px;
  }

  .link {
    font-size: 16px;
  }
}