.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.title {
  font-size: 18px;
  text-transform: uppercase;
}

.img {
  padding: 15px 7px;
}

.groupImg {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 60px;
}

.elementAnimation {
  opacity: 0;
  transform: translateY(60px);
}

.elementShow {
  opacity: 1;
  transition: all 0.7s;
  transform: translateY(0%);
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 520px) {
  .subTitle {
    font-size: 16px;
  }

  .img {
    width: 80px;
    height: 44px;
  }

  .wrap {
    gap: 10px;
  }
}