.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  gap: 20px;
  text-align: center;
}

.title {
  font-size: 18px;
  text-transform: uppercase;
}

.person {
  text-decoration: none;
  color: black;
}

.img {
  margin-bottom: 60px;
}

@media screen and (max-width: 520px) {
  .subTitle {
    font-size: 16px;
  }
}